asgiref==3.11.1
beautifulsoup4==4.14.3
certifi==2026.4.22
charset-normalizer==3.4.7
Django==4.2.30
django-bootstrap-v5==1.0.11
django-jazzmin==3.0.4
et_xmlfile==2.0.0
gunicorn==26.0.0
idna==3.13
numpy==2.4.4
openpyxl==3.1.5
packaging==26.2
pandas==3.0.2
pillow==12.2.0
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.33.1
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
whitenoise==6.12.0
